body{
        background-image: url("C:/Users/Tringapps-User8/Downloads/register.jpg");
        background-repeat: no-repeat;
         background-size: cover;
        }
        form{
            padding:5%;
        }
        .container
        {
            display:flex;
            flex-direction: column;
            margin-top:4%;
        }
        .container .outer{
         
            height:100px;
            background-color:#ffffff;
            color:#000000;
            font-weight: bold;
            margin-left:14%;
            margin-right: 10%;
            opacity: 0.6;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;

            /*padding:20px;*/
        }
        .container #employee{
            background-color:rgb(21, 192, 21);
            margin-left:14%;
            margin-right: 14%;
            width:76%;
        }
        button{
            padding: 6px 18px;
            background-color: rgb(54, 54, 169);
            color:#ffffff;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            letter-spacing: 1px;
        }
        tbody tr {
            padding:14%;
        }
        tbody{
            
            text-align: center;
        }
        input
        {
            border:4px solid black;
            border-radius: 8px;
            margin-right: 3px;
        }
